.primary-link:link,
.primary-link:visited {
  text-decoration: none;
  color: #0d6efd;
  border-bottom: none;
  border-color: none;
  background-color: none;
  padding: 0.1em;
}

.primary-link:hover {
  border-bottom: 1.7px solid;
  border-color: #0d6dfdb6;
  background-color: #0d6dfd1c;
  color: #0d6efd;
}
