.Weather {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid lightgrey;
  max-width: 650px;
  min-width: 650px;
  padding: 16px;
  margin: 30px auto;
  border-radius: 5px;
  color: rgb(135, 135, 135);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather ul {
  list-style: none;
  padding: 0;
}

.Weather .forecast-temp h1 {
  color: #202124;
  font-size: 45px;
  line-height: 60px;
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
}

/* weather icon */
.Weather .forecast-temp .wi {
  display: inline-block;
  height: 60px;
  width: 60px;
  vertical-align: top;
  margin-left: 0.1em;
  margin-right: 0.1em;
  margin-top: 0.2em;
  font-size: 3rem;
  color: #48484a;
}

.Weather .forecast-temp span {
  color: #272727;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  margin-top: 6px;
  vertical-align: top;
  font-weight: 100;
}

.Weather .forecast-temp a:link,
.Weather .forecast-temp a:visited {
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  padding: 0 0.2em;
  position: relative;
  top: 0.05em;
  color: #20212469;
}

.Weather .forecast-temp-details {
  color: #70757a;
  display: inline-block;
  font-size: 10.5px;
  line-height: 16px;
  padding-left: 0px;
  padding-top: 6px;
  /* border: 1px solid blue; */
}

.forecast-city {
  text-align: right;
}

.WeatherInfo .forecast-city h4 {
  color: #202124;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 0px;
}

.forecast-city-details {
  color: #70757a;
  font-size: 16px;
  line-height: 20px;
}

.forecast-temp {
  /* border: 1px solid red; */
  display: inline-block;
  padding-right: 0.2em;
}

.WeatherTemperature {
  max-width: 7em;
  min-width: 7em;
  display: inline-block;
  margin-left: 1em;
}
