.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  font-size: 0.9rem;
}

.WeatherForecast-icon {
  font-size: 1.5rem;
  color: #48484a;
  opacity: 1;
  margin: 0.2em 0;
}

.WeatherForecast-temperatures {
  font-size: 0.8rem;
}

.WeatherForecast-temperature-max {
  font-weight: 500;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 6px;
}

.WeatherForecastDay {
  /* border: 1px solid rgba(211, 211, 211, 0.39); */
  border-radius: 5px;
  padding: 0.5em 0em;

  background-color: #0d6dfd05;
  transition: background-color 0.5s ease-in-out;
}

.WeatherForecastDay:hover {
  background-color: #0d6dfd18;
}
